

<div class="post-meta-container {{slug}}">
<div class="post-meta {{slug}}">
Published <time class="date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="YYYY-MM-DD"}}</time> on <a href="{{@site.url}}">{{@site.title}}</a>
—
<a class="{{slug}}" href="{{url}}">Permalink</a>
</div>

{{#if feature_image}}
  <div class="post-feature-image-container {{slug}}">
    <p>
      <img class="post-feature-image {{slug}}" src="{{img_url feature_image}}" />
    </p>
  </div>
{{/if}}
</div>